<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Martinez_BankApp.Properties.Settings.BankAppConnectionString"
            connectionString="Data Source=DESKTOP-EHK5BVL\SQLEXPRESS19;Initial Catalog=BankApp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	<appSettings>
		<add key="Excess" value="\bin\Debug"/>
		<add key="WithdrawReport" value="resources\report\WithdrawReport.rpt"/>
		<add key="DepositReport" value="resources\report\DepositReport.rpt"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>